[submodule "GeoTransformer/repo"]
	path = GeoTransformer/repo
	url = https://github.com/h-utkuunlu/GeoTransformer
[submodule "BUFFER/repo"]
	path = BUFFER/repo
	url = https://github.com/h-utkuunlu/BUFFER
[submodule "BUFFER/workspace/KNN_CUDA"]
	path = BUFFER/workspace/KNN_CUDA
	url = https://github.com/unlimblue/KNN_CUDA.git
[submodule "RoITr/repo"]
	path = RoITr/repo
	url = https://github.com/h-utkuunlu/RoITr
[submodule "DeepGlobalRegistration/repo"]
	path = DeepGlobalRegistration/repo
	url = https://github.com/h-utkuunlu/DeepGlobalRegistration
